<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include partials/head %>
</head>
<body>
    <div class="full">
        <div class="col"><a href="/pais">Todos os países</a></div>
        <div class="col"><a href="/api/pais/csv">Todos os países em CSV</a></div>
        <div class="col"><a href="/api/pais/xlsx">Todos os países em XLSX</a></div>
    </div>
</body>
</html>