<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include partials/head %>
</head>
<body>
    <div class="full">
        <button class="col">Todos os Países</button>
        <button class="col">Todos os Países em CSV</button>
        <button class="col">Todos os Países em XLSX</button>
    </div>
</body>
</html>